@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #EFBC9B;

}
.textColor{
  color:#FDFFF6;
}
.fontColor{
  color: #9CAFAA;
}
.btnColor{
  background-color: #FBF3D5;
}
.completed-task {
  text-decoration: line-through;
  width: 256px;
  
}

.incomplete-task {
  width: 256px;
  text-decoration: none; /* You can optionally specify other styles for incomplete tasks */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .btnStyling{
    @apply py-2 px-4 tracking-wider fontColor btnColor font-bold rounded-md
  }
}

/* w-64 truncate */